:root {
    font-size: 62.5%;
}

#root{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 8rem 1fr;
    margin: 0;
}

.header{
    grid-row: 1/2;
    background-color: #50808E;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title{
        color: white;
        font-size: 2.5rem;
    }
}

.main{
   grid-row: 2/3;
   display: grid;
   grid-template-rows: 1fr 6rem;
   grid-template-columns: 60% 40%;
   padding: 0.5rem;
}