:root {
    font-size: 62.5%;
}

#root{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 8rem 1fr;
}

.header{
    grid-row: 1/2;
}

.main{
   grid-row: 2/3;
   display: grid;
   grid-template-rows: 1fr 6rem;
   grid-template-columns: 60% 40&;
}